.data{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
   
}
.data h2{
 font-weight: 500;
 font-size: 1.2rem;
}
button{
    padding:10px 10px;
    border:none;
    border-radius: 7px;
    color:white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgb(4, 127, 4);
}
.update{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:50px;
}

.Remove{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}